

.tablerow {
    vertical-align: top;
    height: 52px;
}

.tablecolumn {
    width: 50px;
}


.div-table {
    outline: solid 1px DodgerBlue;
    width: max-content;
    height: max-content;
    position: relative;
}

.row {
    display: table-row;
    width: max-content;
    height: 0px;
}

.cell {
    background-color:#65A9E1;
    width: 50px;
    height: 50px;
    display: table-cell;     
}

